// Styling for the contact section
section#contact {
  background-color: #545454;
  background-repeat: no-repeat;
  background-position: center;
  .section-heading {
    color: white;
  }
  .section-subheading{
    color: white;
  }
  .form-group {
    margin-bottom: -10px;
    input,
    textarea {
      padding: 20px;
    }
    input.form-control {
      border-radius: 5px;
      height: 50px;
    }
    textarea.form-control {
      border-radius: 5px;
      height: 162px;
    }
  }
  .form-control:focus {
    border-color: $theme-primary;
    box-shadow: none;
  }
  ::-webkit-input-placeholder {
    font-weight: 700;
    color: $gray-placeholder;
    @include norwester;
  }
  :-moz-placeholder {
    font-weight: 700;
    color: $gray-placeholder;
    /* Firefox 18- */
    @include norwester;
  }
  ::-moz-placeholder {
    font-weight: 700;
    color: $gray-placeholder;
    /* Firefox 19+ */
    @include norwester;
  }
  :-ms-input-placeholder {
    font-weight: 700;
    color: $gray-placeholder;
    @include norwester;
  }
  .text-danger {
    color: $theme-danger;
  }
  .col-md-6{
    padding: 3px;
  }
  .container>.row:first-child{
    padding-bottom: 70px;
  }
  #sendMessageButton{
    margin-top: 80px;
    padding: 10px 40px;
    font-size: 25px;
  }

}
