// Global styling for this template
body {
  overflow-x: hidden;
  @include lao-sagnam;
}

p {
  line-height: 1.75;
}

a {
  color: $theme-primary;
  &.active,
  &:active,
  &:focus,
  &:hover {
    color: darken($theme-primary, 10%);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  @include norwester;
}

section {
  padding: 50px 0;
  h2.section-heading {
    font-size: 54px;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #525252;
  }
  h3.section-subheading {
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 75px;
    text-transform: none;
    color: #525252;
    @include lao-sagnam;
  }
}

@media(min-width:768px) {
  section {
    h2.section-heading {
      font-size: 74px;
    }
  }
}

@media(min-width:768px) {
  section {
    padding: 50px 0;
  }
}

// Highlight color customization
::-moz-selection {
  background: $theme-primary;
  text-shadow: none;
}

::selection {
  background: $theme-primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: $theme-primary;
}
