// Styling for the masthead
header.masthead {
  height: 100vh;
  width: 100%;
  background-color: $theme-header-bg;
  text-align: center;
  color: white;
  background-image: url("../img/header-background.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  @include background-cover;
  overflow: hidden;

  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .masthead-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo-animation {
    position: relative;
    width: 25.2vh;
    height: 31.5vh;
    > img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      &.logo-ball {
        top: -50vh;
        animation: ball-animation 5.5s 0s linear forwards infinite;
      }

      @keyframes ball-animation {
        0% {
          top: -50vh;
          transform: scale(1, 1);
        }
        7.27% {
          top: -44vh;
          transform: scale(0.95, 1);
        }
        14.5% {
          top: -35vh;
          transform: scale(0.89, 1);
        }
        23.8% {
          top: 0;
          transform: scale(1, 1);
        }
        26.3% {
          top: -3.73vh;
          transform: scale(1, 1);
        }
        28.7% {
          top: 0;
          transform: scale(1, 1);
        }
        30.1% {
          top: -0.65vh;
          transform: scale(1, 1);
        }
        32.7% {
          top: 0;
          transform: scale(1, 1);
        }
        46.3% {
          top: 0;
          transform: scale(1, 1);
        }
        74% {
          top: 0;
          transform: scale(1, 1);
        }
        84% {
          top: 10.98vh;
          transform: scale(0.93, 1.01);
        }
        100% {
          top: 60vh;
          transform: scale(1.03, 1.03);
        }
      }
    }
  }

  .info {
    position: relative;
    z-index: 1;

    .title {
      color: #fff;
      letter-spacing: 1px;
      font-size: 45px;
      line-height: 114px;
      margin: 20px 0 0 0;
      font-family: "Helvetica Neue";
      font-weight: 300;

      @media only screen and (max-width: 768px) {
        font-size: 34px;
        line-height: 98px;
        margin-top: 0;
      }

      @media only screen and (max-width: 576px) {
        margin-top: 20px;
      }
    }

    ul.social-buttons {
      margin-bottom: 0;
      li {
        margin: 0 8px;

        a {
          -webkit-tap-highlight-color: transparent;
          font-size: 22px;
          line-height: 35px;
          display: block;
          width: 35px;
          height: 35px;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
          color: $theme-header-bg;
          border-radius: 100%;
          outline: none;
          background-color: #fff;
          &:active,
          &:focus,
          &:hover {
            background-color: $theme-primary;
          }
        }

        &:last-child {
          a {
            line-height: 38px;
          }
        }
      }
    }
  }
}
