// Mixins
// Bootstrap Button Variant
@mixin button-variant($color, $background, $border) {
  color: $color;
  border-color: $border;
  background-color: $background;
  &.focus,
  &:focus {
    color: $color;
    border-color: darken($border, 25%);
    background-color: darken($background, 10%);
  }
  &:hover {
    color: $color;
    border-color: darken($border, 12%);
    background-color: darken($background, 10%);
  }
  &.active,
  &:active,
  .open > &.dropdown-toggle {
    color: $color;
    border-color: darken($border, 12%);
    background-color: darken($background, 10%);
    &.focus,
    &:focus,
    &:hover {
      color: $color;
      border-color: darken($border, 25%);
      background-color: darken($background, 17%);
    }
  }
  &.active,
  &:active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &.focus,
    &:focus,
    &:hover {
      border-color: $border;
      background-color: $background;
    }
  }
  .badge {
    color: $background;
    background-color: $color;
  }
}

// Background Cover Mixin
@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin font($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: url($font-file+'.eot');
    src: url($font-file+'.eot?#iefix') format('embedded-opentype'),
  url($font-file+'.woff') format('woff'),
  url($font-file+'.ttf') format('truetype'),
  url($font-file+'.svg#aller') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

@include font('Lao Sangam', '../fonts/LaoSangamMN');
@include font('Sweetly Broken', '../fonts/SweetlyBroken');
@include font('Norwester', '../fonts/Norwester-Regular');

// Font Mixins
@mixin lao-sagnam {
  font-family: 'Lao Sangam', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@mixin sweetly-broken {
  font-family: 'Sweetly Broken', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@mixin norwester {
  font-family: 'Norwester', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
// @mixin script-font {
//   font-family: 'Norwester', 'Helvetica Neue', Helvetica, Arial, cursive;
// }
// @mixin body-font {
//   font-family: 'Lao Sangam', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// }
// @mixin heading-font {
//   font-family: 'Norwester', 'Helvetica Neue', Helvetica, Arial, sans-serif;
//   text-transform: uppercase;
// }
