// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
  font-size: 26px;
  color: $theme-header-bg;
}

.service-subheading {
  font-size: 20px;
  line-height: 25px;
  color: $theme-header-bg;
}
